* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  
}

.btngroup {
  display: block;
}

body {
  margin: 15px;
  background-color: #c5b8a5;
}

header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #c5b8a5;
  border-radius: 5px;
  margin-bottom: 15px;
}

h1 {
  padding: 12px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold";
  columns: #dadad8;
  display: flex;
}

h2 {
  padding: 8px;
  font-family: monospace;
  color: rgb(49, 49, 49);
  display: flex;
}

.box {
  margin-top: 12px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(202, 195, 187, 0.75);
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1rem;
  /* width:30%; */
}
.button:hover {
  cursor: pointer;
  background-color: rgba(224, 221, 214, 0.75);
}
.button:active {
  cursor: pointer;
  background-color: rgba(184, 181, 175, 0.75);
}

.flexmain {
  padding: 0px;
  box-sizing: border-box;
  /*background-color: rgb(196, 196, 196);*/
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  border-radius: 0px;
}

.tablediv {
  background-color: #d3d4cc;
  margin-right: 0px;
  width: 60%;
  height: 100%;
  border-radius: 0 spx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#tablemonth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
}

#month {
  display: block;
  background: rgb(196, 196, 196);
  height: 20px;
  text-align: center;
  font-family: monospace, sans-serif;
  border-radius: 3px;
  background-color: rgb(79, 79, 79);
  color: rgb(228, 228, 228);
}

.incexp {
  height: 20px;
  width: 100%;
  text-align: center;
  font-family: monospace, sans-serif;
  border-radius: 2px;
  border: 0px;
  background-color: rgb(216, 214, 206);
  color: rgb(37, 34, 34);
}

#secondcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

#expchart {
  width: 100%;
  height: 50%;
  background-color: #cac3bb;
  border-radius: 0px;
}

#actual {
  margin: 0px;
  margin-right: 2px;
  width: 100%;
  height: 50%;
  background-color: #f8ebd8;
  border-radius: 0px;
}

#main-footer {
  color: #f8ebd8;
  font-family: monospace, sans-serif;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

#transactions {
    margin: 16px 4px;
    font-family: monospace, sans-serif;
}

th, td {
    padding: 4px;
}

th {
    background-color: rgb(79, 79, 79);
    color:rgb(228, 228, 228);
}

tr:nth-child(even) {
    background-color: rgb(231, 231, 218);
}
tr:nth-child(odd) {
    background-color: rgb(211, 207, 197);
}
